/* ACKSIO Dispatch queue page generic style*/
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

@page {
	size: auto;
}

body {
	margin: 0;
	background-color: #d8d8f3;
}

#header {
	background-color: #1a1aff;
	top: 0;
	margin: 0;
	padding-left: 40px;
	/*height: 50px;*/
	overflow: hidden;	
}

#header h2 {
	float: left;
	font-size: 30px;
	color: #ffffff;
	font-family: "Trebuchet MS", "Lucida Sans";
}

#main_body{
	float: left;
	margin: 10px;
	border: 2px;
}

#header h3{
	text-align: center;
	color: red;
	font-size: 16px;
	font-family: Lobster;
}
