/* ACKSIO Dispatch queue page generic style*/

@page {
	size: auto;
}

body {
	margin: 0;
	background-color: #d8d8f3;
}

#header {
	background-color: #1a1aff;
	top: 0;
	margin: auto;
	padding: 5px 0;
	overflow: hidden;
}

#header h2 {
	float: left;
	font-size: 25px;
	margin: 10px; 
	color: #ffffff;
	font-family: "Trebuchet MS", "Lucida Sans";
}

#header form {
	float: right; 
	padding-right: 5px
}

#content{
	float: left;
	margin: 10px;
	border: 2px;
}
