<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets --><servlet>
  	<servlet-name>MultiplyNumbersServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.acksio.servlet.MultiplyNumbersServlet</servlet-class>
</servlet>
	<servlet>
    <servlet-name>IndexLab02Servlet</servlet-name>
    <servlet-class>edu.ycp.cs320.acksio.servlet.IndexLab02Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNumbersServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.acksio.servlet.AddNumbersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GuessingGameServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.acksio.servlet.GuessingGameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.acksio.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourierServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.acksio.servlet.CourierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.acksio.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.acksio.servlet.SignupServlet</servlet-class>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>IndexLab02Servlet</servlet-name>
    <url-pattern>/indexLab02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNumbersServlet</servlet-name>
    <url-pattern>/addNumbers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MultiplyNumbersServlet</servlet-name>
  	<url-pattern>/multiplyNumbers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuessingGameServlet</servlet-name>
    <url-pattern>/guessingGame</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/dispatcher</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>CourierServlet</servlet-name>
    <url-pattern>/courier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
</web-app>
